<launch>

    <arg default="fuse" name="radar_id"></arg>
    <arg default="/gtec/mmwave/$(arg radar_id)/target" name="target_positions_topic"></arg>
    <arg default="/gtec/time_occupancy/$(arg radar_id)/ref_grid" name="publish_time_occupancy_ref_topic"></arg>
    <arg default="/gtec/time_occupancy/$(arg radar_id)" name="publish_time_occupancy_topic"></arg>
  
    <arg default="12" name="grid_width"></arg>
    <arg default="6" name="grid_height"></arg>
    <arg default="0.2" name="cell_size"></arg>

    <arg default="0" name="grid_zero_x"></arg>
    <arg default="0" name="grid_zero_y"></arg>
    <arg default="0" name="grid_rotation"></arg>

    <node name="TimerOccupancyNode" output="screen" pkg="gtec_door_counter" type="time_occupancy_node.py">
        <param name="target_positions_topic" value="$(arg target_positions_topic)"></param>
        <param name="grid_width" value="$(arg grid_width)"></param>
        <param name="grid_height" value="$(arg grid_height)"></param>
        <param name="cell_size" value="$(arg cell_size)"></param>
        <param name="zones_of_interest" textfile="$(find gtec_door_counter)/launch/zones.txt"></param>
        <param name="radar_id" value="$(arg radar_id)"></param>
        <param name="publish_time_occupancy_ref_topic" value="$(arg publish_time_occupancy_ref_topic)"></param>
        <param name="publish_time_occupancy_topic" value="$(arg publish_time_occupancy_topic)"></param>
    </node>

    <node pkg="tf" 
        type="static_transform_publisher" 
        name="map_to_grid" 
        args="$(arg grid_zero_x) $(arg grid_zero_y) 0 $(arg grid_rotation) 0 0 map grid 30" />

    <node pkg="tf" 
        type="static_transform_publisher" 
        name="odom_to_fuse" 
        args="0 0 0 0 0 0 odom fuse 30" />

</launch>